@import  "./colors.scss";

.header {
    background-color: $color3;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    margin: 1% 1%;
    max-height: 90%;
}

.header .title{
    font-family: 'Vesper Libre', serif;
    font-size: x-large;
    text-transform: uppercase;
    font-weight: bold;
    color: $color0;
    margin-right: 2%;
}

.display-flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.borde{
    border:1px solid red;
}