@import  "./colors.scss";
@import './variables.scss';

.borde{
    border:1px solid red;
}

.header {
    background-color: $color3;
    height: 10vh;
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        margin: 1% 5%;
        max-height: 9vh;
        min-height: 80px;
    }
    
    .title{
        font-family: $font;
        font-size: xx-large;
        text-transform: uppercase;
        font-weight: bold;
        color: $color0;
        margin-right: 2%;
        margin-left: 3%;
    }
}