/*.App {
  text-align: center;
}
*/
/*
.display-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
*/
/*
.abs-center {
   margin-left: 30%;
   margin-right: 30%;
  margin: auto;
}*/

